* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/SF-Pro-Display-Semibold.ttf);
    text-decoration: none;
}

body{
    max-width: 100%;
    /* border: 2px solid red; */
}


       /* NAVBAR CSS */

.icon {
    font-size: 1.2rem;
    /* color: rgba(255, 255, 255, 0.8); */
    color: black;

}

.dd-twelve i {
    font-size: 1.5rem;
}

.navbar_container {
    width: 100vw;
    /* background-color: black; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgb(242, 242, 242);



    position: fixed;
    /* position: absolute; */
    z-index: 200;
}

.navbar {
    /* border: solid 2px red; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* background-color: black;     */
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgb(242, 242, 242);



    height: 45px;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    /* position: fixed; */
    z-index: 100;
    /* margin-top: -0px; */
}

.navbar a {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Regular.ttf);
    /* color: rgba(255, 255, 255, 0.65); */
    color: black;
    font-size: 12px;
    white-space: nowrap;
    padding: 0 1.5rem;
}

.dd > a {
    padding: 1rem 1.5rem;
}

.navbar_container:hover + #content{
    filter: blur(0.55rem);

    position: absolute;
    bottom: 0;
    height: 100%;
}

.navbar a:hover {
    /* color: rgba(255, 255, 255, 0.9); */
    color: black;
    text-decoration: none;
}


.Dropdown_content {
    display: none;
    /* background-color: rgba(35, 35, 35, 1); */
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: rgb(242, 242, 242);

    /* background-color: black; */
    color: rgba(0, 0, 0, 0.5);


    z-index: -1;
    position: absolute;
    height: fit-content;
}


#check h1 {
    color: white;
}

.dd:hover .Dropdown_content {
    /* border: solid 2px cyan; */

    display: block;

    height: fit-content;
    width: 100vw;
    margin-top: 1rem;
    margin: auto;

    top: 2.8rem;
    position: absolute;
    left: 0;
    z-index: -1;
}

    /* HEIGHT OF DROPDOWN ADJUSTMENT  */
 

.dd-one:hover .cols_container {
    height: 20rem;
}

.dd-two:hover .cols_container {
    height: 30rem;
}


.dd-three:hover .cols_container {
    height: 28rem;
}


.dd-four:hover .cols_container {
    height: 25rem;
}


.dd-five:hover .cols_container {
    height: 22rem;
}


.dd-six:hover .cols_container {
    height: 21rem;
}


.dd-seven:hover .cols_container {
    height: 20rem;
}


.dd-eight:hover .cols_container {
    height: 25rem;
}


.dd-nine:hover .cols_container {
    height: 22rem;
}


.dd-ten:hover .cols_container {
    height: 25rem;
}

.dd-eleven:hover .cols_container {
    height: 25rem;
}

.dd-twelve:hover .cols_container {
    height: 25rem;
}

.dd-thirteen:hover .cols_container {
    height: 100vh;
    width: 100vw;
}

    /* HEIGHT OF DROPDOWN ADJUSTED  */
 

.dd:hover .cols_container {
    /* border: solid 2px red; */
    margin: auto;
    width: 100%;
    /* margin-top: 1rem; */
    max-width: 1050px;
    display: flex;
    align-items: flex-start;
    padding-top: 1.5rem;
}

.dd p {
    margin-left: 1.5rem ;
}

.dd:hover .dd-col-one, .dd:hover .dd-col-two, .dd:hover .dd-col-three {
    /* border: solid 2px cyan; */
    height: fit-content;
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.dd:hover .dd-col-one {
    width: 30%;
}

.dd-five:hover .dd-col-one {
    width: 40%;
}

.dd-six:hover .dd-col-one {
    width: 44%;
}

.dd:hover .dd-col-one a{
    /* color: white; */
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.dd:hover .dd-col-two a, .dd:hover .dd-col-three a, .dd:hover .dd-col-one-sub a, .dd:hover .dd-row-two a{
    /* color: white; */
    color: black;
    font-size: 12px;
    font-weight: 400;
}

.dd:hover .dd-col-one-sub {
    display: flex;
    flex-direction: column;
}

.dd:hover .dd-col-one-sub{
    margin-top: 20px;
    gap: 10px;
}

.dd:hover .dd-row-two .fa-arrow-right{
    font-size: 10px ;

}

.dd-eleven:hover .cols_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dd-eleven:hover .dd-row-one {
    display: flex;
}


.dd-eleven:hover .dd-row-one .fa-magnifying-glass {
    font-size: 1.3rem;
    margin-top: -1.1rem;
    
}


.dd-eleven:hover .dd-row-one #Search_bar {
    height: 4rem;
    width: 400%;
    margin-left: 0.5rem;
    margin-top: -2.5rem;
    font-size: 1.7rem;
    background-color: transparent;
    border: none;
    color: white;
}

.dd-eleven:hover .dd-row-two {
    margin-top: -6rem;
    /* border: solid 2px cyan; */
    width: 90%;
}

.dd-eleven:hover .dd-row-two a .lines{
    /* border: solid 2px cyan; */
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
}

.dd-eleven:hover .dd-row-two p{
    margin-left: -0.4rem;
    margin-top: 1.7rem;
}

.dd-eleven:hover .dd-row-two a .lines:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


.dd-twelve:hover .cols_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dd-twelve:hover h2 {
    /* color: white; */
    color: #000000;
    font-size: 2rem;
    margin-top: -4rem;
}

.dd-twelve:hover .dd-row-two a {
    color: #2997ff; 
    text-decoration: underline;
    font-size: 13px;
    margin-top: -5rem;
}

.dd-twelve:hover .dd-row-two{
    display: flex;
    margin-left: -1rem;
}

.dd-twelve:hover .dd-row-two p {
    margin-left: -1.2rem;
    margin-top: -82.4px;
}


.dd-twelve:hover .dd-row-three {
    display: flex;
    flex-direction: column;
    /* border: solid 2px red; */
    height: 20%;
    width: 20%;
    margin-top: -8rem;
    padding-bottom: 10rem;
    gap: 10px;
}

#cart .cols_container i {
    font-size: 1rem;
    padding-right: 1rem;
}


#grip_lines {
    display: none;
}

@media screen and (max-width: 400px) {
    .navbar {
        height: 48px;
        position: relative;
        z-index: 5;
    }

    /* .dd {
        display: none;
    } */

    .dd-one, .dd-two, .dd-three, .dd-four, .dd-five, .dd-six, .dd-seven, .dd-eight, .dd-nine, .dd-ten {
        display: none;
    } 
    

    #apple_icon {
        padding-right: 12rem;
    }

    #magnifying_glass {
        width: 10%;
        margin-left: -1rem;
    }

    #cart {
        width: 10%;
        margin-left: -1.5rem;
    }
    

    #grip_lines {
        display: block;
        /* display: flex; */
        /* change in the end */
    }

    .Dropdown_container, #checkbox {
        display: none;
    }

    #checkbox:checked + .Dropdown_content{

        /* border: solid 2px cyan; */
    
        display: block;
    
        height: fit-content;
        width: 100vw;
        margin-top: 1rem;
        margin: auto;
    
        top: 2.8rem;
        position: absolute;
        left: 0;
        z-index: -1;;
    }

    .dd-thirteen .cols_container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 0.7rem;
    }

    .dd-thirteen .cols_container a {
        font-size: 2rem;
        color: white;
    }
}


@media screen and (min-width: 400px) and (max-width: 768px) {
    /* .dd {
        display: none;
    }  */

    .dd-one, .dd-two, .dd-three, .dd-four, .dd-five, .dd-six, .dd-seven, .dd-eight, .dd-nine, .dd-ten {
        display: none;
    } 


    #apple_icon {
        padding-right: 32rem;
        margin-left: rem;
    }

    #magnifying_glass {
        width: 10%;
        padding-left: 2rem;
    }

    #cart {
        width: 5%;
        /* margin-right: -2rem; */
        padding-right: 5rem;
    }


    #grip_lines {
        width: 10%;
        display: inline-flex;
        /* margin-right: -2rem;  */
        padding-right: 3rem;

    }

    .Dropdown_container, #checkbox {
        display: none;
    }

    #checkbox:checked + .Dropdown_content{

        /* border: solid 2px cyan; */
    
        display: block;
    
        height: fit-content;
        width: 100vw;
        margin-top: 1rem;
        margin: auto;
    
        top: 2.8rem;
        position: absolute;
        left: 0;
        z-index: -1;;
    }

    .dd-thirteen .cols_container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 0.7rem;
    }

    .dd-thirteen .cols_container a {
        font-size: 2rem;
        color: white;
    }

}

        /* NAVBAR CSS */




body{
    background-color: rgb(245,245,247);
}
a{
    text-decoration: none;
}

.p14{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #1d1d1f;
}
.p14s{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #1d1d1f;
}
.p21{
    font-size: 21px;
    line-height: 29px;
    font-weight: 400;
    color: #1d1d1f;
}
.p17{
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #1d1d1f;
}
.p17b{
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
    color: #1d1d1f;
}
.p17d{
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: white;
}
.ps{
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #6e6e73;
}
.psr{
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #af1e2d;
}
.psd{
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: white;
}
h2{
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    color: #6e6e73;
    padding-left: 10%;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
h3{
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    color: #1d1d1f;
}
.db{
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    color: white;

}
.new_text{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #bf4800;
}
sup{
    font-size: 9px;
}
.button{
   width:  60.81px;
   height: 35.60px;
   background-color: #0071E3;
   border-radius: 20px 20px 20px 20px;
   padding-left: 17px;
   padding-top: 7px;
}
.button a{
    color: white;
}









.link a{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #0066cc;

}
.link p{
    columns: #0066cc;;
}
.link a:hover{
    text-decoration: underline;
}

.bank_card {
    width: 100%;
    text-align: center;
    background-color:white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #1d1d1f;
    padding: 1rem 0;
    padding-top: 3rem;
}

.bank_card a {
    text-decoration: none;
    color: rgb(39, 128, 212);
}


.bank_card a:hover {
    text-decoration: underline;
}

.hero .help{

    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.hero h1{
    font-size: 48px;
    line-height: 52px;
    font-weight: 600;
    color: #6e6e73;
}
.dark{
    color: #1d1d1f;
}
.help .content2 img{
    width: 30px;
    height: 30px;
}
.help .content2 .need_help{
    display: flex;
    align-items: center;
    gap: 1rem;
}






.nav_2 {
    width: 90%;
    background-color:rgb(245,245,247);
    display: flex;
    text-align: center;
    overflow: hidden;
    gap: 1.5rem;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin-left: 5%;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
   
    
}







.nav_2 img {
    width: 120px;
    height: 78px;
}
.nav_2 a p{
    padding-top: .8rem;
}

.nav_2 a {
    text-decoration: none;
    color: black;
    
}

.nav_2 img:hover,
.nav_2 a:hover {
    color: rgb(39, 128, 212);
    transition: color .2s ease-in-out;
}





.iphone{
    margin-left: 10%;
    width: 90%;
    overflow: hidden;
    display: flex;
    gap: .7rem;
}
.iphone .card,.p_red .card1{
    position: relative;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;  
}
.iphone .card .content,.p_red .card1 .content{
    position: absolute;
    top: 30px;
    left: 30px;
}
.iphone .card img,.p_red .card1 img{
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
.iphone .card:hover,.p_red .card1:hover{
    transform: scale(1.01);
    transition: all .3s linear;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




.p_red{
    margin-left: 10%;
    width: 90%;
    overflow: hidden;
    display: flex;
    gap: .7rem;
}
.p_red .card1 .content .p17{
    padding-top: .7rem;
}
.p_red .card2{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    /* text-align: center; */
    border-radius: 20px;
    margin-top: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-left: 10px;
}
.p_red .card2:hover{
    transform: scale(1.01);
    transition: all .3s linear;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.p_red .card2 .image1 img{
    width: 300px;
}
.p_red .card2 .image2 img{
    width: 400px;
}
.p_red .card2 .content_l .button{
    position: absolute;
    top: 88%;
    left: 75%;
}
.p_red .card2 .content_u{
       padding-top: .5rem;
       padding-left: 2rem;
}
.p_red .card2 .content_u h3{
    padding-top: .5rem;
}
.p_red .card2 .image1{
    padding-left: 3rem;
    padding-top: 1.5rem;
}
.p_red .card2 .image2{
    padding-top: .5rem;
}
.p_red .card2 .content_l{
    margin-top: -50px;
    margin-left: -70px;
}
.p_red .card2 .content_l .card2_watch{
    margin-left: -135px;
}

.p_red .card2 .stripe{
    margin-top: -50px;
}
.p_red .card2 h4{
    color: #1d1d1f;
   

}

.p_red .card2 .stripe_content{
    margin-left: 35px;
    margin-top: 50px;
}






.exchange{
   display: flex;
   overflow: hidden;
   gap: 5px;
   margin-left: 10%;
   
}
.exchange .card{
    width: 313px;
    height: 240px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #1d1d1f;
    padding-top: 1.8rem;
    padding-left: 2rem;
    flex-shrink: 0;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
}
.exchange .card:hover{
    transform: scale(1.01);
    transition: all .3s linear;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.exchange .blue{
    color: rgb(0,122,255);
}
.exchange .card img{
  padding-bottom: .3rem;
  
}
.exchange .card .img3{
    margin-left: -25px;
    width: 99%;
}

.exchange .green{
    color: rgb(104,204,69);
}
.exchange .purpul{
    color: rgb(184,57,255);
}



.new{
    width: 90%;
    margin-left: 10%;
    display: flex;
    gap: 5px;
    overflow: hidden;
}
.new .card1{
    background-color: white;
    width: 400px;
    height: 500px;
    position: relative;
    border-radius: 20px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.new .card1:hover{
    transform: scale(1.01);
    transition: all .3s linear;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.new .card1 img{
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
.new .card1 div{
    position: absolute;
    top: 4rem;
    left: 2rem;
    
}
.new .card1 p{
    padding-top: .5rem;
}
.new .card2 .image img{
    width: 230px;
    height: 230px;
}
.new .card2 .image {
    text-align: center;
    padding-top: 5rem;
}
.new .card2{
    background-color: #fff;
    width: 313px;
    height: 500px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.new .card2:hover{
    transform: scale(1.01);
    transition: all .3s linear;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.new .card2 .content{
    padding-top: 4rem;
    padding-left: 2rem;
}
.new .card2 .content .p14s{
    padding-top: 3rem;
}
.new .card2 .image2{
    text-align: center;
    padding-top: .5rem;
}
.new .card2 .contentn{
    padding-top: 1.8rem;
}
.new .card2 .contentn .p14s{
    padding-top: 2rem;
}
.new .card2 .content4{
    padding-top: 3rem;
}
.new .card2 .content4 .p14s{
    padding-top: 1.5rem;
}
.new .card2 .c1 .p14s{
    padding-top: 3.2rem;
}





.expe{
    display: flex;
    overflow: hidden;
    gap: 5px;
    width: 90%;
    margin-left: 10%;
}
.expe .card .image img{
    width: 480px;
    height: 500px;
    border-radius: 20px;
}
.expe .card{
    border-radius: 20px;
    position: relative;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.expe .card:hover{
    transform: scale(1.01);
    transition: all .3s linear;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.expe .card .content{
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.expe .card .c2{
   top: 4rem;
}
.expe .card .c3 h3,.expe .card .c3 p{
    color: white;
}
.expe .card .c3 h3{
    padding-top: 1rem;
}
.expe .card .c2 .p17{
    margin-top: .5rem;
}

.expe .card .c4 h3,.expe .card .c4 p{
    color: #1d1d1f;
}
.expe .c5{
    width: 400px;
    height: 500px;
}
.expe .c5 .image img{
    width: 400px;
    height: 500px;
}






.links{
    display: flex;
    gap: 2rem;
    padding-bottom: 5rem;
    width: 90%;
    margin-left: 10%;
}
.links p{
    height: 40px;
    width: 120px;
    background-color: #e2e2e4;
    border-radius: 20px 20px 20px 20px;
    padding-top: 10px;
    padding-left: 20px;
}
.links .o1 p{
    width: 135px;
}
.links .o2 p{
    width: 110px;
}
.links p a{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #1d1d1f;
}







footer {
    /* border: solid 2px black; */
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: #f5f5f7;
}

#footer_full {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 65%;

    margin-top: 1rem;

    /* border: solid 2px cyan; */
}

#line-top {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
    height: 1.5rem;
}

#above_footer_one {
    /* border: solid 2px red; */
    margin-top: -8px;
    margin-bottom: 1.2rem;
}

#footer_full .icon {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
}

.arrow_right_icon {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}

#mac {
    color: rgb(110, 110, 115);
}

footer span {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Semibold-1.ttf);
    color: black;
    font-size: 12px;
    font-weight: 400;

}

footer a, footer p {
    font-family: "SF Pro Display Regualar", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Regular.ttf);
    text-decoration: none;
    color: rgb(110, 110, 115);
    font-size: 12px;

}

/* .pre-footer {
    background-color: white;
} */

.pre-footer p {
    line-height: 16px;
    color: #6E6E73;
}

.pre-footer a {
    text-decoration: underline;
}


#footer-one {
    /* border: solid 2px cyan; */
    display: flex;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
    gap: 2.5rem;
}

.col-one, .col-two, .col-three, .col-four, .col-five {
    /* border: solid 2px black; */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.col-three {
    margin-top: -1rem;
}

.col-top, .col-mid, .col-below {
    /* border: solid 2px orangered; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

}

#footer-two {
    /* border: solid 2px green; */
    width: fit-content;
    margin-top: -1.6rem;
    padding-top: .1rem;
    /* margin-bottom: -1rem; */

}

#footer-two p {
    color: rgb(110, 110, 115);
    font-size: 13px;
}

#footer-two a {
    color: #0066cc;
    text-decoration: underline;
}

#line-below {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    height: 5px;
    margin-top: 10px;
}

#footer-three p {
    color: rgb(110, 110, 115);

}

#footer-one a:hover, #footer-three a:hover{
    text-decoration: underline;
}

#footer-three {
    /* border: solid 2px red;    */
    width: 100%;

    margin-top: 5px;
    /* margin-bottom: 20px; */
    display: flex;

}


.terms {
    /* border: solid 2px red; */
    word-spacing: 2px;
    margin-left: 3rem;
}

.terms a {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

#india {
    /* border: solid 2px red; */
    /* margin-top: 5px; */
    margin-left: 17rem;
}





@media screen and (max-width:1500px){
    #footer-two{
        margin-top: 10rem;
    }
}


@media screen and (max-width:1100px){
    #footer-two{
        margin-top: 6rem;
    }
}

@media screen and (max-width:800px){
    #footer-two{
        margin-top: 8rem;
    }
}

@media screen and (max-width:951px){


    .hero .help{
        display: flex;
        flex-direction: column;
        gap: 2rem;
       
    }
    
    .hero .help .content h1{
         font-size: 32px;
         line-height: 36px;
         font-weight: 600;

    }

    .hero .help{
        margin-left: 10%;
    }

    .nav_2{
        flex-wrap: wrap;
    }
}


@media screen and (max-width:700px){
     body h2{
        font-size: 24px;
         line-height: 28px;
         font-weight: 600;
     }

     .iphone,.p_red,.exchange,.new,.expe{
        flex-wrap: wrap;
        overflow: visible;
     }
     

     .iphone .card img{
        width: 100%;
     }

     .p_red .card1 img{
        width: 100%;
     }
     .p_red .card2 .image1 img{
        width: 100%;
     }
     .p_red .card2 .image2 img{
         width: 100%;

     }

     .new .card1 img{
        width: 100%;
     }

     .new .card2 .image img{
        width: 100%;
     }
     .expe .card .image img{
        width: 100%;
     }
     .edu .c5{
        width: 80%;
        margin-left: 0px;
     }
     .edu a .c5 .image img{
        width: 100%;
     }
     .edu a .c5 .c3 h3{
        font-size: 10px;
     }
     

}

@media screen and (max-width:600px){
    .links{
        flex-direction: column;
    }
}

@media screen and (max-width:380px){
    .new .card2{
        height: 550px;
    }

    .exchange .card{
        width: 80%;
    }

    .p_red .card2 .content_l{
        margin-left: 3%;
        margin-top: -80px;
    }
    .p_red .card2 .stripe_content{
        margin-left: 10%;
        margin-top: 40px;
    }
    .exchange .card p{
        font-size: 14px;
    }
    
    .new .yoyo h3{
        margin-top: -50px;
        font-size: 22px;
    }
}




/* FOOTER SECTION  */

footer {
    /* border: solid 2px black; */
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: #f5f5f7;
}

#footer_full {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 65%;

    margin-top: 1rem;

    /* border: solid 2px cyan; */
}

@media screen and (min-width:400px) and (max-width: 768px) {

    #footer_full {
        width: 100%;
        margin: 5px 10px;
    }
}

@media screen and (max-width: 400px) {

    #footer_full {
        width: 100%;
        margin: 5px 10px;
    }

}

#line-top {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
    height: 1.5rem;
}

#above_footer_one {
    /* border: solid 2px red; */
    margin-top: -8px;
    margin-bottom: 1.2rem;
}

#footer_full .icon {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
}

.arrow_right_icon {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}

#mac {
    color: rgb(110, 110, 115);
}

footer span {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Semibold-1.ttf);
    color: black;
    font-size: 12px;
    font-weight: 400;

}

footer a, footer p {
    font-family: "SF Pro Display Regualar", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Regular.ttf);
    text-decoration: none;
    color: rgb(110, 110, 115);
    font-size: 12px;

}

/* .pre-footer {
    background-color: white;
} */

.pre-footer p {
    line-height: 16px;
    color: #6E6E73;
}

.pre-footer a {
    text-decoration: underline;
}


#footer-one {
    /* border: solid 2px cyan; */
    display: flex;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
    gap: 2.5rem;
}

.col-one, .col-two, .col-three, .col-four, .col-five {
    /* border: solid 2px black; */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.col-three {
    margin-top: -1rem;
}

.col-top, .col-mid, .col-below {
    /* border: solid 2px orangered; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

}

#footer-one-mobile {
    display: none;
}

@media screen and (max-width: 400px) {

    footer {
        margin: 0 5px;
    }

    #footer-one {
        display: none;
    }

    #footer-one-mobile {
        display: flex;
        flex-direction: column;
        height: 30rem;
        gap: 1rem;
    }

    #footer-one-mobile div {
        border-bottom: solid 1px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6%;
    }

    #footer-one-mobile i {
        color: rgba(0, 0, 0, 0.55);
        font-size: 10px;
    }

}

@media screen and (min-width:400px) and (max-width: 768px) {

footer {
    margin: 0 5px;
}

#footer-one {
    display: none;
}

#footer-one-mobile {
    display: flex;
    flex-direction: column;
    height: 30rem;
    gap: 1rem;
}

#footer-one-mobile div {
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6%;
}

#footer-one-mobile i {
    color: rgba(0, 0, 0, 0.55);
    font-size: 10px;
}
}

#footer-two {
    /* border: solid 2px green; */
    width: fit-content;
    margin-top: -1.6rem;
    margin-bottom: -0.6rem;

}

#footer-two p {
    color: rgb(110, 110, 115);
    font-size: 13px;
}

#footer-two a {
    color: #0066cc;
    text-decoration: underline;
}

#line-below {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    height: 5px;
    margin-top: 10px;
}

#footer-three p {
    color: rgb(110, 110, 115);

}

#footer-one a:hover, #footer-three a:hover{
    text-decoration: underline;
}

#footer-three {
    /* border: solid 2px red;    */
    width: 100%;

    display: flex;

}


.terms {
    /* border: solid 2px red; */
    word-spacing: 2px;
    margin-left: 3rem;
}

.terms a {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

#india {
    /* border: solid 2px red; */
    margin-top: 2px;
    margin-left: 17rem;
}


@media screen and (max-width: 400px) {
    #footer-three {
        white-space: wrap;
        display: block;
    }

    .terms {
        margin: 0;

    }

    #india {
        margin: 0;
    }
    
}

@media screen and (min-width:400px) and (max-width: 768px) {

    #footer-three {
        white-space: wrap;
        display: block;
    }

    .terms {
        margin: 0;

    }

    #india {
        margin: 0;
    }
}






