* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sf pro;
    text-decoration: none;
    /* overflow-x: hidden; */
    /* border: solid 2px red; */
}


.icon {
    font-size: 1.2rem;
}

.navbar_container {
    width: 100vw;
    background-color: black;

    position: fixed;
    z-index: 200;
}

.navbar {
    /* border: solid 2px red; */
    background-color: rgba(0, 0, 0, 0.8);
    height: 45px;
    width: 100%;
    max-width: 1050px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    /* position: fixed; */
    z-index: 100;
    /* margin-top: -0px; */
}

.navbar a {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Regular.ttf);
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    white-space: nowrap;
    padding: 0 1.5rem;
}

.dd > a {
    padding: 1rem 1.5rem;
}

/* .dd:hover .display_blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
} */



.navbar a:hover {
    color: rgba(255, 255, 255, 0.9);
}


.Dropdown_content {
    display: none;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: black;
    color: rgba(255, 255, 255, 0.5);

    z-index: -1;
    position: absolute;
    height: fit-content;
}


#check h1 {
    color: white;
}

.dd:hover .Dropdown_content {
    /* border: solid 2px cyan; */

    display: block;

    height: fit-content;
    width: 100vw;
    margin-top: 1rem;
    margin: auto;

    top: 2.8rem;
    position: absolute;
    left: 0;
    z-index: -1;
}

    /* HEIGHT OF DROPDOWN ADJUSTMENT  */
 

.dd-one:hover .cols_container {
    height: 20rem;
}

.dd-two:hover .cols_container {
    height: 30rem;
}


.dd-three:hover .cols_container {
    height: 28rem;
}


.dd-four:hover .cols_container {
    height: 25rem;
}


.dd-five:hover .cols_container {
    height: 22rem;
}


.dd-six:hover .cols_container {
    height: 21rem;
}


.dd-seven:hover .cols_container {
    height: 20rem;
}


.dd-eight:hover .cols_container {
    height: 25rem;
}


.dd-nine:hover .cols_container {
    height: 22rem;
}


.dd-ten:hover .cols_container {
    height: 25rem;
}


    /* HEIGHT OF DROPDOWN ADJUSTED  */
 

.dd:hover .cols_container {
    /* border: solid 2px red; */
    margin: auto;
    width: 100%;
    margin-top: 1rem;
    max-width: 1050px;
    display: flex;
    align-items: flex-start;
}

.dd p {
    margin-left: 1.5rem ;
}

.dd:hover .dd-col-one, .dd:hover .dd-col-two, .dd:hover .dd-col-three {
    /* border: solid 2px cyan; */
    height: fit-content;
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.dd:hover .dd-col-one {
    width: 30%;
}

.dd-five:hover .dd-col-one {
    width: 40%;
}

.dd-six:hover .dd-col-one {
    width: 44%;
}

.dd:hover .dd-col-one a{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.dd:hover .dd-col-two a, .dd:hover .dd-col-three a, .dd:hover .dd-col-one-sub a{
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.dd:hover .dd-col-one-sub {
    display: flex;
    flex-direction: column;
}

.dd:hover .dd-col-one-sub{
    margin-top: 20px;
    gap: 10px;
}





