* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sf pro;
    text-decoration: none;
    /* overflow-x: hidden; */
    /* border: solid 2px red; */
}


.icon {
    font-size: 1.5rem;
    border: solid 2px cyan;

}

.dd {
    /* border: solid 2px cyan; */
    /* height: 100%; */
    /* width: 100%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.navbar_container {
    width: 100vw;

}

.navbar {
    border: solid 2px red;
    background-color: rgba(0, 0, 0, 0.8);
    height: 45px;
    width: 100%;
    max-width: 1440px;
    /* width: 100rem; */
    /* padding-left: 12rem; */
    /* padding-right: 12rem; */
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    z-index: 3;
    /* margin-top: -0px; */
}

.navbar a {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Regular.ttf);
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    white-space: nowrap;
    padding: 0 1.5rem;
    /* text-decoration: none; */
}

.navbar a:hover {
    color: rgba(255, 255, 255, 0.8);
}


.Dropdown_content {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.5);

    height: fit-content;
}


/* .dd-one:hover .display_blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
} */



.dd:hover .Dropdown_content {
    /* border: solid 2px cyan; */

    display: block;

    height: fit-content;
    width: 100vw;
    margin-top: 1rem;

    position: absolute;
    z-index: 5;
}

/* .dd:hover {
    transition-delay: 10s;
} */

    /* MARGIN FOR EACH DIV SET INDIVIDUALLY */

/* .dd-one:hover .Dropdown_content {
    margin-left: -21.15rem;
}

.dd-two:hover .Dropdown_content {
    margin-left: -25.9rem;
}

.dd-three:hover .Dropdown_content {
    margin-left: -30.2rem;
}

.dd-four:hover .Dropdown_content {
    margin-left: -34.5rem;
}

.dd-five:hover .Dropdown_content {
    margin-left: -39.8rem;
}

.dd-six:hover .Dropdown_content {
    margin-left: -44.9rem;
}

.dd-seven:hover .Dropdown_content {
    margin-left: -50.55rem;
}

.dd-eight:hover .Dropdown_content {
    margin-left: -57.55rem;
}

.dd-nine:hover .Dropdown_content {
    margin-left: -65.55rem;
}

.dd-ten:hover .Dropdown_content {
    margin-left: -72.8rem;
} */

    /* MARGIN FOR EACH DIV SET INDIVIDUALLY */

    /* HEIGHT OF DROPDOWN ADJUSTMENT  */
 

.dd-one:hover .cols_container {
    height: 24rem;
}

.dd-two:hover .cols_container {
    height: 33.5rem;
}


.dd-three:hover .cols_container {
    height: 32rem;
}


.dd-four:hover .cols_container {
    height: 29rem;
}


.dd-five:hover .cols_container {
    height: 27rem;
}


.dd-six:hover .cols_container {
    height: 24rem;
}


.dd-seven:hover .cols_container {
    height: 22rem;
}


.dd-eight:hover .cols_container {
    height: 32.5rem;
}


.dd-nine:hover .cols_container {
    height: 31rem;
}


.dd-ten:hover .cols_container {
    height: 31rem;
}


    /* HEIGHT OF DROPDOWN ADJUSTED  */




.dd:hover p{
    padding-bottom: 1rem;
}





.dd:hover .cols_container {
    /* border: solid 2px red; */
    margin-top: 2rem;

    gap: 2rem;
    margin-left: 17rem;
    /* height: 20rem; */
    width: 50%;
    display: flex;
    align-items: flex-start;
}

.dd:hover .dd-col-one, .dd:hover .dd-col-two, .dd:hover .dd-col-three {
    /* border: solid 2px cyan; */
    height: fit-content;
    display: flex;  
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
}

.dd:hover .dd-col-one {
    width: 30%;
}

.dd-five:hover .dd-col-one {
    width: 40%;
}

.dd-six:hover .dd-col-one {
    width: 44%;
}

.dd:hover .dd-col-one a{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.dd:hover .dd-col-two a, .dd:hover .dd-col-three a, .dd:hover .dd-col-one-sub a{
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.dd:hover .dd-col-one-sub {
    display: flex;
    flex-direction: column;
}

.dd:hover .dd-col-one-sub{
    margin-top: 20px;
    gap: 10px;
}





