* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sf pro;
}

div  {
    /* border: solid 2px red; */
}

#navbar {
    /* border: solid 2px red; */
    background-color: black;
    height: 45px;
    width: 100vw;
    /* margin: 0 15rem; */
    /* padding: 0 16rem; */
    padding-left: 15rem;
    padding-right: 16rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

.icon {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}

#navbar a {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/FontsFree-Net-SFProText-Regular-1.ttf);
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    text-decoration: none;
}

#navbar a:hover {
    color: rgba(255, 255, 255, 0.8);

}
 


