
footer {
    /* border: solid 2px black; */
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: #f5f5f7;
}

#footer_full {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 65%;

    margin-top: 1rem;

    /* border: solid 2px cyan; */
}

#line-top {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
    height: 1.5rem;
}

#above_footer_one {
    /* border: solid 2px red; */
    margin-top: -8px;
    margin-bottom: 1.2rem;
}

.icon {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
}

.arrow_right_icon {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}

#mac {
    color: rgb(110, 110, 115);
}

footer span {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Semibold-1.ttf);
    color: black;
    font-size: 12px;
    font-weight: 500;

}

footer a, footer p {
    font-family: "SF Pro Display Regualar", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Regular.ttf);
    text-decoration: none;
    color: rgb(110, 110, 115);
    font-size: 12px;

}

/* .pre-footer {
    background-color: white;
} */

.pre-footer p {
    line-height: 16px;
    color: #6E6E73;
}

.pre-footer a {
    text-decoration: underline;
}


#footer-one {
    /* border: solid 2px cyan; */
    display: flex;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
    gap: 2.5rem;
}

.col-one, .col-two, .col-three, .col-four, .col-five {
    /* border: solid 2px black; */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.col-three {
    margin-top: -1rem;
}

.col-top, .col-mid, .col-below {
    /* border: solid 2px orangered; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

}

#footer-two {
    /* border: solid 2px green; */
    width: fit-content;
    margin-top: -1.6rem;

}

#footer-two p {
    color: rgb(110, 110, 115);
    font-size: 13px;
}

#footer-two a {
    color: #0066cc;
    text-decoration: underline;
}

#line-below {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    height: 5px;
    margin-top: 10px;
}

#footer-three p {
    color: rgb(110, 110, 115);

}

#footer-one a:hover, #footer-three a:hover{
    text-decoration: underline;
}

#footer-three {
    /* border: solid 2px red;    */
    width: 100%;
    margin-bottom: 10px;
    display: flex;

}


.terms {
    /* border: solid 2px red; */
    word-spacing: 2px;
    margin-left: 3rem;
}

.terms a {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

#india {
    /* border: solid 2px red; */
    margin-top: 3px;
    margin-left: 18.5rem;
}
