*{
   ma
}

.video-container {
   border: solid 2px red;
   height: 40rem;
   width: 90vw;
   border-radius: 20px;

   display: flex;

}

.vdo {

   border: solid 2px cyan;
   overflow: hidden;
   height: 100%;
   width: 100%;
   border-radius: 20px;

}

.vdo video {
   height: 100%;
   width: 100%;
   border-radius: 20px;
}