* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;

}

sup {
    font-size: 10px;
}

body {
    background-color: white;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/display_text/SF-Pro-Display-Semibold.ttf);
}

/* ADD NAVBAR */



/* ADD NAVBAR */


.below_navbar a{
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Regular.ttf);
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.animate__animated.animate__lightSpeedInRight {
    --animate-delay: 2s;
}

.below_navbar {
    /* border: solid 2px red; */

    background-color: black;
    height: 90px;
    /* border: solid 2px red; */
    
    display: flex;
    justify-content: center;
}

.logo_container {
    /* border: solid 2px red; */
    
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    
}

.logo_container a:hover {
    color:#2997ff;
    text-decoration: underline;
}

.apple_one, .apple_tv, .apple_music, .apple_arcade, .apple_podcast, .apple_books {
    /* border: solid 2px cyan; */
    /* height: 100%; */
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.apple_one img, .apple_tv img, .apple_music img, .apple_arcade img, .apple_podcast img, .apple_books img {
    /* margin: auto; */
    transform: scale(1.2);
    padding: 0.5rem;
    margin-top: -10px;

}

@media screen and (max-width: 400px) {
    .below_navbar {
        /* overflow-x: hidden; */
    }
    .logo_container {
        overflow-x: scroll;
        width: 100%;
        overflow: hidden;
    }

    .apple_one, .apple_tv, .apple_music, .apple_arcade, .apple_podcast, .apple_books {
        width: 100%;
        height: 100%;
        /* border: solid 2px cyan; */
        /* margin: 0; */
        /* padding: 0px; */
        text-align: center;
        align-self: center;
    }

    .apple_one img, .apple_tv img, .apple_music img, .apple_arcade img, .apple_podcast img, .apple_books img {
        width: 100%;
        height: 70%;
    }

}   

@media screen and (min-width: 400px) and (max-width: 768px) {
    .logo_container {
        margin: 0 5rem;
        width: 100%;
    }
}


.header_text {
    background-color: black;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_top {
    
    /* border: solid 2px red; */
    padding-bottom: 1rem;
    width: 50%;
}

.text_bottom {
    width: 55%;
}

.second_line {
    text-indent: 3rem;
}

.text_bottom .third_line {
    text-indent: 7rem;
}


.header_text h1{
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/display_text/SF-Pro-Display-Semibold.ttf);
    color: white;
    font-size: 96px;
    font-weight: 900;
}

.header_text h2 {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/display_text/SF-Pro-Display-Semibold.ttf);
    color: white;
    font-size: 24px;

}

.animate__animated.animate__slideInDown{
    --animate-delay: 20s;
}

.animate__animated.animate__fadeInUp {
    --animate-delay: 10s;
}

        /* ANIMATION DELAY NOT WORKING  */

@media screen and (max-width: 400px) {

    .header_text {
        height: 28rem;

    }
    .text_top {
        width: 90%;
    }
    
    .text_bottom {
        width: 80%;
    }
    
    .header_text h1{
        font-size: 44px;

    }

    .header_text h2 {
        font-size: 17px;
    }

}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .text_top {
        width: 70%;
    }
    
    .text_bottom {
        width: 95%;
        
    }
    
    .header_text h1{
        font-size: 64px;

    }

    .header_text h2 {
        font-size: 21px;
        white-space: nowrap;
    }
}

.before_vid_one {
    height: 9rem;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.before_vid_one h2 {
    color: white;
}



.before_vid_one .learn_more {
    width: 8%;

}

.learn_more {
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 2rem;
    height: 3rem;

}

.learn_more a {
    color: white;
}


@media screen and (max-width: 400px) {
    .before_vid_one h2 {
        font-size: 17px;
    }

    .before_vid_one {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        gap: 0;
        height: 250px;
    }

    .before_vid_one h2 {
        width: 50%;
        margin: auto;
    }

    .before_vid_one .learn_more {
        width: 30%;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .before_vid_one h2 {
        font-size: 17px;
    }

    .before_vid_one {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        gap: 0px;
    }

    .before_vid_one h2 {
        width: 50%;
        margin: auto;
    }

    .before_vid_one .learn_more {
        width: 15%;
        height: 25%;
    }
}


.vid_index_0_container {
    display: flex;
}

.vids {
    /* border: solid 2px red; */
    width: 99vw;
}

.vids video {
    /* height: 100%; */
    width: 100%;
}

.vid_index_1 {
    position: absolute;
    z-index: 4;

    height: 25%;
    width: 100%;

    /* border: solid red 2px; */
    display: flex;
    justify-content: center;
    align-self: flex-end;
    gap: 3rem;
}

.vid_index_1 h1 {
    color: white;
    font-size: 40px;
}

.vid_index_1 h4 {
    color: white;
    font-size: 17px;
}

/* .left_text {
    margin-left: -20rem;
} */

.txt_with_button {
    background-color: transparent;
    width: 55%;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.txt_with_button img {
    height: 2rem;
}

.txt_with_button button {
    background-color: transparent;
    color: white;
    border: solid 1px white;
    border-radius: 20px;
    width: 40%;
}

.txt_with_button button img {
    height: 10px;
}

.only_text {
    width: 100%;
}

.mid_buttons {
    /* border: solid 2px cyan; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.try_it_free {
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    height: 3rem;
    width: 40%;
}

.try_it_free a {
    color: black;
    font-size: 17px;
}

.mid_buttons .learn_more {
    width: 40%;
}

.vid_index_0_container .icon, .after_vid_three .icon {
    position: absolute;
    z-index: 2;
    /* border: solid 2px red; */
    width: 90%;
    font-size: 1.9rem;

    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: flex-end;

    margin-top: 5rem;
    /* margin-right: 3rem; */
 
}

.last_vid {
    width: 65%;
}



@media screen and (max-width: 400px) {
    .vid_index_0_container {
        /* border: solid 2px red; */
        height: 89vh;
        width: 98.5vw;
    }

    .vids {
        /* border: solid 2px red; */
        height: 100%;
        width: 99.99999%;
        overflow: hidden;
    }

    .vid_index_0_container .vids video {
        height: 100%;
        width: 400%;
        margin-left: -35rem;
    }

    .vid_index_1 h1{
        font-size: 24px;
        line-height: 28px;

    }

    .vid_index_1 h4{
        font-size: 14px;
        line-height: 18px;

    }

    .vid_index_1 .mid_buttons a {
        font-size: 17px;
        line-height: 20px;
    }

    .vid_index_1 {
        height: 30%;
        width: 100%;
        /* margin-bottom: 3rem; */

        display: flex;
        flex-direction: column;
        overflow: visible;
    }

    .left_text {
        height: 450%;
        width: 80%;
        margin-left: 1.5rem;
        overflow: visible;
    }

    .txt_with_button {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        height: 30%;
        width: 100%;
    }   


    .txt_with_button img {
        height: 2rem;
        width: 2rem;
    }   


    .mid_buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: -2rem;
        padding-bottom: 3rem;
        height: 100%;
        width: 80%;
        overflow: visible;
        

    }
    
    .try_it_free {
        border: solid 2px white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 2rem;
        height: 2.5rem;
        width: 40%;
    }
    
    .try_it_free a {
        color: black;
        font-size: 14px;
    }
    
    .mid_buttons .learn_more {
        width: 40%;
        height: 2.5rem;
    }

    .vid_index_0_container .icon, .after_vid_three .icon {
        font-size: 1.3rem;
        margin-bottom: -3.5rem;
    }
    

}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .vid_index_0_container {
        width: 100vw;
    }

    .vids {
        height: 100%;
        width: 99.99999%;
        overflow: hidden;
    }

    .vid_index_0_container .vids video {
        width: 200%;
        margin-left: -25rem;
    }

    .vid_index_1 {
        overflow: visible;
        display: flex;
        flex-direction: column;
    }

    .vid_index_1 .left_text {
        margin-top: -6rem;
        width: 90%;
        margin-left: 2rem;
    }

    .vid_index_1 .mid_buttons{
        width: 50%;
        margin-top: -2rem;
    }

}

#image_carousel_container {
    height: 350px;
    width: 100%;
    position: relative; 
    overflow: hidden;

    /* border: solid 2px red; */
}

  
  .image_carousel {
    /* border: solid 2px black; */

    height: 85%;
    width: 200%;
    position:absolute; 

    display: flex;
    /* align-items: center; */
    overflow:hidden; 
    animation: myAnime 50s linear infinite;
  }
  
  .image_carousel img {    
    /* margin: 2px 2px 2px 2px; */
    padding: 2px 2px;
    height: 90%;
    width: 100%;
    border-radius: 10px;
  }
  
  @keyframes myAnime {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
  }

.images:hover {
    animation: myAnimeOk 5s linear 3;
}

@keyframes myAnimeOk {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 50%);
    }
  }

  .animate__fadeInUp {
    transition-delay: 5s;
  }


.images {
    /* border: solid 2px yellow; */
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

 .image_carousel .txt {
    /* border: solid 2px red; */
    width: 85%;
    margin-top: -0.5rem;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .txt h5, .txt p{
    font-size: 14px;
  }

  .second_image_container .txt {
    width: 65%;
}

@media screen and (max-width: 400px) {
    #image_carousel_container {
        width: 450%;
    }   
      
    .image_carousel {
        animation: myAnime 30s linear infinite;
    }
      
      
      @keyframes myAnime {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-50%, 0);
        }
      }
    
    .images:hover {
        animation: myAnimeOk 5s linear 3;
    }
    
    @keyframes myAnimeOk {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(0, 50%);
        }
      }
    
      .animate__fadeInUp {
        transition-delay: 5s;
      }

      .txt {
        font-size: 14px;
      }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    #image_carousel_container {
        width: 250%;
    }

    .second_image_container .txt {
        width: 60%;
    }

    

}

.after_vid_three {
    /* border: solid 2px red; */
    /* height: 400px; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center ;
  }

  .after_vid_three h4 {
    font-size: 17px;
}

.after_vid_three h1 {
    font-size: 40px;
}

.after_vid_three .try_it_free {
    background-color: black;
    
}

.after_vid_three .try_it_free a {
    color: white;
    font-weight: bold;
}

.after_vid_three .learn_more {
    background-color: transparent;
    /* width: fit-content; */
    border: solid 2px transparent;
}

.after_vid_three .learn_more .fa-chevron-right {
    padding-right: 5px;
}

.after_vid_three .mid_buttons {
    align-self: center;
    padding-left: 10rem;
    width: 40%;
    /* border: solid 2px red; */
}

.after_vid_three .learn_more a {
    color: black;
    font-weight: bold;
}

.fa-chevron-right {
    /* margin-top: 2rem; */
    margin-bottom: -4px;
    margin-right: -1px;
}

@media screen and (max-width: 400px) {
    .after_vid_three {
        height: 200px;
        width: 100vw;
        padding-bottom: -5rem;
      }
    
      .after_vid_three h4 {
        font-size: 14px;
    }
    
    .after_vid_three h1 {
        font-size: 24px;
    }

    .after_vid_three .left_text {
        width: 70vw;
        height: 60%;
        overflow: visible;
    }

    .after_vid_three .left_text .only_text {
        width: 150%;
        overflow: hidden;

    }

    .after_vid_three .mid_buttons {
        overflow: visible;
        margin-bottom: 1rem;
    }
    
    .after_vid_three .try_it_free {
        background-color: black;
        /* border: solid 10px red; */
        margin-left: -28rem;
        margin-top: 15rem;
        height: 3rem;
        width: 10rem;

        
    }
    
    .after_vid_three .try_it_free a {
        color: white;
        font-weight: bold;
        font-size: 17px;
        background-color: black;

    }
    
    .after_vid_three .learn_more {
        background-color: transparent;
        width: 8rem;
        border: solid 2px transparent;
        margin-left: -5rem;
        margin-top: 14.95rem;
    }
    
    .after_vid_three .learn_more .fa-chevron-right {
        padding-right: 5px;
    }
    
    .after_vid_three .mid_buttons {
        align-self: center;
        padding-left: 10rem;
        width: 40%;
        /* border: solid 2px red; */
    }
    
    .after_vid_three .learn_more a {
        color: black;
        font-weight: bold;
    }
    
    .fa-chevron-right {
        /* margin-top: 2rem; */
        margin-bottom: -4px;
        margin-right: -1px;
    }

}

@media screen and (min-width: 400px) and (max-width: 768px) {
        .after_vid_three h1 {
            font-size: 32px;
        }  

        .after_vid_three .left_text {
            margin-top: -2rem;
            margin-left: 2rem;
        }

        .after_vid_three{
            overflow: visible;

            display: flex;
            flex-direction: column;
        }

        .after_vid_three .mid_buttons {
            width: 80%;
            margin-left: -30rem;
        }

}



.last_section_container {
    background-color: rgba(0, 0, 0, 0.01);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.last_section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.last_section .sec_three{
    font-size: 24px;
    font-weight: bold;
}


.sec_four {
    display: flex;
    justify-content: space-between;
    width: 40%;
    /* border: solid 2px red; */
}

.sec_four .try_it_free, .sec_four .learn_more {
    width: 45%;
}

.sec_four .try_it_free{
    background-color: black;
    border: none;
}

.sec_four .learn_more {
    border: none;
}

.sec_four .try_it_free a{
    color: white;
}

.sec_four .learn_more a{
    color: black;
}

.sec_four .try_it_free a, .sec_four .learn_more a{
     font-size: 17px;
     font-weight: bold;
     padding-right: 2px;
}

.sec_four .try_it_free a:hover, .sec_four .learn_more a:hover {
    text-decoration: underline;
}

.sec_four sup {
    font-size: 10px;
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .last_section .sec_four {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .last_section {
        width: 100%;
    }

    .last_section .sec_four {
        width: 80%;
        height: 3rem;

    }

    .last_section .sec_four .learn_more {
        width: 50%;
        margin-top: -0.5rem;
    }

    .last_section.sec_four .learn_more .fa-chevron-right {
        margin-left: 0.5rem;
    }
}

        /* FOOTER SECTION  */

footer {
    /* border: solid 2px black; */
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: #f5f5f7;
}

#footer_full {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 65%;

    margin-top: 1rem;

    /* border: solid 2px cyan; */
}

@media screen and (min-width:400px) and (max-width: 768px) {

    #footer_full {
        width: 100%;
        margin: 5px 10px;
    }
}

@media screen and (max-width: 400px) {

    #footer_full {
        width: 100%;
        margin: 5px 10px;
    }

}

#line-top {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
    height: 1.5rem;
}

#above_footer_one {
    /* border: solid 2px red; */
    margin-top: -8px;
    margin-bottom: 1.2rem;
}

.icon {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
}

.arrow_right_icon {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}

#mac {
    color: rgb(110, 110, 115);
}

footer span {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Semibold-1.ttf);
    color: black;
    font-size: 12px;
    font-weight: 400;

}

footer a, footer p {
    font-family: "SF Pro Display Regualar", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Regular.ttf);
    text-decoration: none;
    color: rgb(110, 110, 115);
    font-size: 12px;

}

/* .pre-footer {
    background-color: white;
} */

.pre-footer p {
    line-height: 16px;
    color: #6E6E73;
}

.pre-footer a {
    text-decoration: underline;
}


#footer-one {
    /* border: solid 2px cyan; */
    display: flex;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
    gap: 2.5rem;
}

.col-one, .col-two, .col-three, .col-four, .col-five {
    /* border: solid 2px black; */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.col-three {
    margin-top: -1rem;
}

.col-top, .col-mid, .col-below {
    /* border: solid 2px orangered; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

}

@media screen and (min-width:400px) and (max-width: 768px) {

    #footer-one {
        margin-bottom: 3rem;
    }
    #footer-one a {
        display: none;
    }

    #footer-one {
        display: flex;
        flex-direction: column;
        gap: 0;
    } 
}

@media screen and (max-width: 400px) {
    #footer-one a {
        display: none;
    }

    #footer-one {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-bottom: 3rem;

    }
}

#footer-two {
    /* border: solid 2px green; */
    width: fit-content;
    margin-top: -1.6rem;
    margin-bottom: -0.6rem;

}

#footer-two p {
    color: rgb(110, 110, 115);
    font-size: 13px;
}

#footer-two a {
    color: #0066cc;
    text-decoration: underline;
}

#line-below {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    height: 5px;
    margin-top: 10px;
}

#footer-three p {
    color: rgb(110, 110, 115);

}

#footer-one a:hover, #footer-three a:hover{
    text-decoration: underline;
}

#footer-three {
    /* border: solid 2px red;    */
    width: 100%;

    display: flex;

}


.terms {
    /* border: solid 2px red; */
    word-spacing: 2px;
    margin-left: 3rem;
}

.terms a {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

#india {
    /* border: solid 2px red; */
    margin-top: 2px;
    margin-left: 17rem;
}


@media screen and (max-width: 400px) {
    #footer-three {
        white-space: wrap;
        display: block;
    }

    .terms {
        margin: 0;

    }

    #india {
        margin: 0;
    }
    
}

@media screen and (min-width:400px) and (max-width: 768px) {

    #footer-three {
        white-space: wrap;
        display: block;
    }

    .terms {
        margin: 0;

    }

    #india {
        margin: 0;
    }
    


}











