* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}

body {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/display_text/SF-Pro-Display-Semibold.ttf);
}

/* ADD NAVBAR */



/* ADD NAVBAR */


.below_navbar a{
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/text/FontsFree-Net-SFProText-Regular.ttf);
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.below_navbar {
    /* border: solid 2px red; */

    background-color: black;
    height: 90px;


    display: flex;
    justify-content: center;
}

.logo_container {
    /* border: solid 2px red; */
    
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    
}

.logo_container a:hover {
    color:#2997ff;
    text-decoration: underline;
}

.apple_one, .apple_tv, .apple_music, .apple_arcade, .apple_podcast, .apple_books {
    /* border: solid 2px cyan; */
    height: 100%;
    width: 100%;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.apple_one img, .apple_tv img, .apple_music img, .apple_arcade img, .apple_podcast img, .apple_books img {
    /* margin: auto; */
    transform: scale(1.2);
    padding: 0.5rem;
    margin-top: -10px;

}

@media screen and (max-width: 400px) {
    .logo_container {
        overflow-x: scroll;
        max-width: 400px;
        width: 80%;
    }

    /* .apple_one, .apple_tv, .apple_music, .apple_arcade, .apple_podcast, .apple_books {
    
    } */
}



.header_text {
    background-color: black;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_top {
    
    /* border: solid 2px red; */
    padding-bottom: 1rem;
    width: 50%;
}

.text_bottom {
    width: 50%;
}


.header_text h1{
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/display_text/SF-Pro-Display-Semibold.ttf);
    color: white;
    font-size: 96px;
    font-weight: 900;
}

.header_text h2 {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(./fonts/display_text/SF-Pro-Display-Semibold.ttf);
    color: white;
    font-size: 24px;

}

@media screen and (max-width: 400px) {

    .header_text {
        height: 28rem;

    }
    .text_top {
        width: 90%;
    }
    
    .text_bottom {
        width: 90%;
    }
    
    .header_text h1{
        font-size: 44px;

    }

    .header_text h2 {
        font-size: 17px;
    }

}

.before_vid_one {
    height: 10rem;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.before_vid_one h2 {
    color: white;
}



.before_vid_one .learn_more {
    width: 8%;

}

.learn_more {
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 2rem;
    height: 3rem;

}

.learn_more a {
    color: white;
}


/* @media screen and (max-width: 400px) {

} */


.vid_index_0_container {
    display: flex;
}

.vids {
    /* border: solid 2px red; */
    width: 99vw;
}

.vids video {
    /* height: 100%; */
    width: 100%;
}

.vid_index_1 {
    position: absolute;
    z-index: 4;

    height: 25%;
    width: 100%;

    /* border: solid red 2px; */
    display: flex;
    justify-content: center;
    align-self: flex-end;
    gap: 3rem;
}

.vid_index_1 h1 {
    color: white;
    font-size: 40px;
}

.vid_index_1 h4 {
    color: white;
    font-size: 17px;
}

.left_text {
    /* margin-left: -20rem; */
}

.txt_with_button {
    background-color: transparent;
    width: 55%;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.txt_with_button img {
    height: 2rem;
}

.txt_with_button button {
    background-color: transparent;
    color: white;
    border: solid 1px white;
    border-radius: 20px;
    width: 40%;
}
.txt_with_button button img {
    height: 10px;
}

.only_text {
    width: 100%;
}

.mid_buttons {
    /* border: solid 2px cyan; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.try_it_free {
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    height: 3rem;
    width: 40%;
}

.try_it_free a {
    color: black;
    font-size: 17px;
}

.mid_buttons .learn_more {
    width: 40%;
}

.icon {
    position: absolute;
    z-index: 2;
    /* border: solid 2px red; */
    width: 90%;
    font-size: 1.9rem;

    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: flex-end;

    margin-top: 5rem;
    /* margin-right: 3rem; */
 
}

.image_carousel {
    width: 100%;
    overflow-x: scroll;
}


.last_vid {
    width: 65%;
}




